.div1{
    background-image: url(../IMG/pngtree-gourmet-food-tableware-gray-and-black-creative-banner-picture-image_1495471.jpg);
    height: 100px;
}

h1{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;
}

