.div1{
    background-image: url(../IMG/pngtree-gourmet-food-tableware-gray-and-black-creative-banner-picture-image_1495471.jpg);
    height: 150px;
}

h1{
    text-align: center;
    color: white;
}

.titulo1{
   padding-top: 45px;
   color: white;
}

.titulo2{
    margin-left: 2%;
    margin-top: 2%;
}
.p1{
    text-align: center;
    color: white;
    height: 43px;
}

body{
    font-size: 15px;
}

.div2{
    float: left;
    height: 50px;
    width: 50px;
}

h3{
    text-align: center;
}

footer{
    background-color: black;
    height: 80px;
    color: white;
  }

  .div8{
    float: left;
    width: 500px;
     }
    
     .div9{
    text-align: center;
    float: left;
    width: 500px;
     }
    
     .div10{
    float: left;
    width: 500px;
    text-align: right;
     }